:root {
  --primary-color: #055a05;
  --secondary-color: #f4a261;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;
  --heading-font: "Times new romans", "Georgia", serif;
  --body-font: Arial, Halvetica, san-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  background-color: lightblue;
}

header,
main,
footer {
  width: 840px;
  margin: auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
.history {
  display: relative;
  flex-direction: column;
  border: black ;
  border-width: thin;
  background-color: var(--accent2-color); 
  text-align: center;

}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 10px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: relative;
}

.hero article img {
  float: center;
  width: 150px;
  border: black solid;
}

.grid-header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
  justify-content: space-evenly;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 16px auto;
  padding: 30px;
  color: solid blue;
  gap: 100px;
}
header {
  display: grid;
  grid-template-columns: 2fr  1fr 200px 1fr 1fr;
  justify-content:space-evenly;
  align-items: stretch;
}
img,
nav {
  display: flex;
  justify-content: stretch;
  padding: 0 auto;
  margin: 0 auto;
  background-color: var(--secondary-color);

}

section figure {
  display: grid;
  grid-column: repeat(5, 1/5);
  justify-content: flex-start;

}
figure img {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  height: auto;
  padding: 8px;
  margin: 10px;
  border: thin silver solid;
}
figcaption {
  background-color:#2222;
  color: var(--accent1-color);
  padding: 8px;
  text-align: center;
  font: italic smaller sans-serif;
  display: flex;
  float: left;
  flex-direction: column;
}
.history {
  padding: 40px;
  text-align: center;
}
.history h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}
.history-grid {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  align-items: center;
  gap: 30px;
}
.history-grid p {
  text-align: left;
  line-height: 1.6;
}
.history-img {
  width: 200px;
  height: 150px;
  background-color: #5e35b1;
  border: 1px solid #333;
  margin:0 auto;
}