:root {
    --navigation-background-color: darkblue;
    --navigation-color: white;
    --navigation-padding: 10px;
    --heading-color: steelblue;
    --main-image-padding: 2px;
    --main-image-height: auto;
    --main-image-width: 150px;
    --aside-width: 200px;
    --aside-color: #333;
    --aside-background-color: #eee;

}

nav {
    background-color: var(--navigation-background-color);
    padding: var(--navigation-padding);
}

nav a {
    color: var(--navigation-color);
    display: block;
    padding: var(--navigation-padding);
}

h1 {
    color: var(--heading-color);
}

main img {
    width: var(--main-image-width);
    height: var(--main-image-height);
    border: 1px steelblue;
    padding: var(--main-image-padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0 0 0 / 0.2);
    padding: 1em;
    background-color: var(--aside-background-color);
    color: var(--aside-color);
    text-align: center;
}

aside img {
    width: var(--aside-width);
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}